.hdr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.searchBar {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.searchBar input[type='text'] {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.search:focus {
  border-color: #007bff;
}

.search-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.item{
    width: 245px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 1px;
    padding: 5px 10px;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
  }
  .ftr{
    position: absolute;
    left: 0;
    width: 100%;
  }
  @media (max-width: 910px){
    .item{
      width: 33%;
    }
  }
  @media(max-width: 580px){
    .item{
      width: 75%;
    }
    footer img{
      width: 100px;
      height: 100px;
    }
    .text{
      width: 34%;
      left: 50%
    }
    .searchBar button{
      width: 86px;
    }
    .searchBar input[type='text']{
      font-size: 13px;
    }
  }