footer{
    background-color: rgb(64, 0, 255, 0.5);
    margin-top: 191px;
}
footer img{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    top: 60px;
    left: -20%;
}
.text{
    width: 25%;
    position: relative;
    top: -60px;
    left: 60%;
    margin: 0;
}